.row {
    background-color: black;
}
.carousel-control-prev {
    color: white;
    z-index: 9999;
    font-size: 100px; 
    margin-top: -50px;
}
.carousel-control-next {
    color: white;
    z-index: 9999;
    font-size: 100px; 
    margin-top: -50px;
}