<div class="container">
    <div class="row justify-content-center mt-3 mb-4">
        <div class="card shadow-effect mt-5">
            <div class="card-body">
                <div class="text-center mb-3 mt-3">
                    <h3>Join the Tech journey with</h3>
                    <h1><a class="" target="_blank" [href]="this.newsletterUrl"> Logic In Layers </a></h1>
                    <h5>Subscribe for exclusive insights in your Inbox!</h5>
                    <form action="" class="form-inline justify-content-center pt-2" #subForm=ngForm
                        (ngSubmit)="onSubmit(subForm.value)">
                        <div class="input-group">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Type your email..." name="email"
                                    #Email="ngModel" ngModel required email
                                    [ngClass]="{'is-invalid': Email.touched && Email.invalid}">
                                <div class="input-group-append">
                                    <button class="btn btn-info btn-block btn-theme"
                                        [disabled]="subForm.invalid">Subscribe!</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="text-danger pt-2" *ngIf="Email.touched && Email.invalid">
                        <div *ngIf="Email.errors?.['required']"> Email is required </div>
                        <div *ngIf="Email.errors?.['email']"> Please enter a valid email address </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>