.card {
    background-color: var(--secondary-color);
    width: 120%;
}

.sub-text {
    width: 500px;
}

input[type = email] {
    width: 400px;
}

.btn-theme {
    height: 40px;
    width: auto;
    border: none;
    font-size: 15px;
    background-color: var(--primary-color);
}