<div class="card shadow-effect mt-5">
    <div class="card-body">
        <div class="text-center mt-3 mb-5 mt-5">
            <h3>Get New Posts Delivered to</h3>
            <h3>Your Inbox</h3>
            <p>Signup now and receive an email once publish new content</p>
            <form action="" class="form-inline">
                <div class="form-group col-md-5">
                    <input type="text" class="form-control shadow-effect" placeholder="Full Name">
                </div>
                <div class="form-group col-md-5">
                    <input type="email" class="form-control shadow-effect" placeholder="Email Address">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-info btn-block btn-theme">SUBSCRIBE NOW!</button>
                </div>
            </form>
        </div>
    </div>
</div>