<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center"> Term & Conditions </h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            
            <p>Welcome to TechTonic Tales, where innovation meets storytelling in the world of technology.
                At TechTonic Tales, we believe in the power of technology to transform lives, businesses, and societies. Our platform is dedicated to sharing insightful articles, captivating stories, and cutting-edge insights that explore the dynamic intersection of technology and human experience.
                With a team of passionate writers, developers, and tech enthusiasts, we curate content that inspires, educates, and entertains our diverse audience. Whether you're a seasoned professional, a budding entrepreneur, or simply curious about the latest trends in tech, you'll find something to pique your interest here.
                Thank you for being a part of our community. Together, let's uncover the untold stories and unlock the transformative potential of technology.
            </p>
            <p>Welcome to TechTonic Tales, where innovation meets storytelling in the world of technology.
                At TechTonic Tales, we believe in the power of technology to transform lives, businesses, and societies. Our platform is dedicated to sharing insightful articles, captivating stories, and cutting-edge insights that explore the dynamic intersection of technology and human experience.
                With a team of passionate writers, developers, and tech enthusiasts, we curate content that inspires, educates, and entertains our diverse audience. Whether you're a seasoned professional, a budding entrepreneur, or simply curious about the latest trends in tech, you'll find something to pique your interest here.
                Thank you for being a part of our community. Together, let's uncover the untold stories and unlock the transformative potential of technology.
            </p>
            <p>Welcome to TechTonic Tales, where innovation meets storytelling in the world of technology.
                At TechTonic Tales, we believe in the power of technology to transform lives, businesses, and societies. Our platform is dedicated to sharing insightful articles, captivating stories, and cutting-edge insights that explore the dynamic intersection of technology and human experience.
                With a team of passionate writers, developers, and tech enthusiasts, we curate content that inspires, educates, and entertains our diverse audience. Whether you're a seasoned professional, a budding entrepreneur, or simply curious about the latest trends in tech, you'll find something to pique your interest here.
                Thank you for being a part of our community. Together, let's uncover the untold stories and unlock the transformative potential of technology.
            </p>

                <div class="text-center">
                    <button class="btn btn-info btn-sm mt-4 btn-theme"> Back to Home </button>
                </div>
        </div>
    </div>
</section>