<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white"> Featured Posts</h2>
                <p class="text-white">At the outset, the roadmap begins with a comprehensive analysis of the project's requirements, objectives, and constraints. This phase involves extensive research and collaboration with key stakeholders to gain a deep understanding of the business needs and user expectations. By conducting thorough market research and competitive analysis, the team can identify industry trends, best practices, and potential challenges, laying the groundwork for informed decision-making.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2> Latest Posts </h2>
        <p class="text-white">At the outset, the roadmap begins with a comprehensive analysis of the project's requirements, objectives, and constraints. This phase involves extensive research and collaboration with key stakeholders to gain a deep understanding of the business needs and user expectations. By conducting thorough market research and competitive analysis, the team can identify industry trends, best practices, and potential challenges, laying the groundwork for informed decision-making.</p>
    </div>

    <div class="row">
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</section>