<section class="featured-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-5 mb-5">
        <h2 class="text-white">Featured Posts</h2>
      </div>
    </div>
    <div class="loader" *ngIf="featuredPostList && featuredPostList.length == 0"></div>
    <ng-container *ngIf="featuredPostList && featuredPostList.length > 0">
      <div class="row">
        <div class="col-md-3" *ngFor="let featuredPost of featuredPostList">
          <app-post-card [postData]="featuredPost"></app-post-card>
        </div>
      </div>
    </ng-container>
  </div>
</section>

<section class="container">
  <div class="col-md-12 text-center mt-5 mb-5">
    <h2>Latest Posts</h2>
  </div>
  <div class="loader" *ngIf="featuredPostList && featuredPostList.length == 0"></div>
  <ng-container *ngIf="latestPostList && latestPostList.length > 0">
    <div class="row">
      <div class="col-md-4 mt-3" *ngFor="let latestPost of latestPostList">
        <app-post-card [postData]="latestPost"></app-post-card>
      </div>
    </div>
  </ng-container>
</section>
