<ng-container *ngIf="this.postData && this.postData.title != ''">
  <div class="container pt-3">
    <div class="row">
      <div class="col-md-9">
        <div class="card shadow-effect">
          <img [src]="
              postData.postImgPath
                ? postData.postImgPath
                : this.defaultPostImgPath
            " alt="" class="card-img-top img-fluid text-center" style="max-width: 400px; max-height: 200;" />
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col">
                  <span class="bg-light text-danger text-left" style="font-size: larger; cursor: pointer;"
                    (click)="navigateToCategory(postData.category.category, postData.category.categoryId)">
                    {{ postData.category.category }}
                  </span>
                  <span class="bg-light text-info text-left ml-2" style="font-size: larger">
                    Views - {{ postData.views }}
                  </span>
                  <span class="bg-light text-warning text-left ml-2" style="font-size: larger">
                    Updated on - {{ postData.createdAt.toMillis() | date }}
                  </span>
                </div>
                <div class="col-auto">
                  <a target="_blank" [href]="
                      postData.newsletterUrl &&
                      postData.newsletterUrl.length > 0
                        ? postData.newsletterUrl
                        : this.newsletterUrl
                    ">
                    <button class="btn btn-theme-connect">
                      <span>Newsletter <i class="fas fa-external-link-alt"></i></span>
                    </button>
                  </a>
                </div>
              </div>
            </div>
            <h1 class="mt-3 mt-3">{{ postData.title }}</h1>
            <p>{{ postData.excerpt }}</p>
            <p [innerHTML]="postData.content"></p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div *ngFor="let similarPost of similarPostsList">
          <app-post-card [postData]="similarPost"></app-post-card>
        </div>
      </div>
    </div>
  </div>
</ng-container>