<header class="navbar navbar-expand-lg fixed-top bg-white">
  <div class="container-fluid">
    <div class="row col-md-12 justify-content-center">
      <div class="col-md-2 text-left">
        <a href="#" class="btn btn-theme-connect"
          ><i class="fas fa-home"></i
        ></a>
      </div>
      <div class="justify-content-center col-md-8 text-center">
        <a href="#" class="site-logo"> Tech Tonic Tales </a>
      </div>
      <div class="col-md-2 text-right">
        <a target="_blank" href="https://www.linkedin.com/in/mudar-hussain/">
          <button class="btn btn-theme-connect">Connect with me !</button>
        </a>
      </div>
    </div>
  </div>
</header>
